@page "/"

@if (Loading)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <div class="content">
        @if (!UpdateNotification.Complete)
        {
            <div>
                @if (UpdateNotification.Count == 0)
                {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
                }
                else
                {
                    <MudProgressLinear Color="Color.Primary" Value="UpdateNotification.Percent" />
                    <div class="count">@UpdateNotification.FilesComplete out of @UpdateNotification.Count</div>
                }
            </div>
        }
        <div class="search">
            <MudContainer MaxWidth="MaxWidth.Small">

                <MudExpansionPanels>
                    <MudExpansionPanel Text="Search">
                        <EditForm Model="this" OnSubmit="@GetBooks">
                            <MudCard Elevation="4">
                                <MudCardContent>

                                    <MudForm>
                                        <MudTextField Label="Author" @bind-Value="@Author" Clearable="true" DebounceInterval="500" OnDebounceIntervalElapsed="GetBooks" />
                                        <MudTextField Label="Title" @bind-Value="@Title" Clearable="true" DebounceInterval="500" OnDebounceIntervalElapsed="GetBooks" />
                                        <MudTextField Label="Series" @bind-Value="@SeriesName" Clearable="true" DebounceInterval="500" OnDebounceIntervalElapsed="GetBooks" />
                                    </MudForm>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" ButtonType="ButtonType.Submit">
                                        <MudIcon Icon="@Icons.Material.Filled.Search" Title="Search" />
                                    </MudButton>
                                </MudCardActions>
                            </MudCard>
                        </EditForm>
                    </MudExpansionPanel>
                </MudExpansionPanels>
                <div class="paging">
                    @PageIndex of @PageCount
                    <MudButton @onclick="FirstPage" Disabled="PageIndex <= 1"><MudIcon Icon="@Icons.Material.Filled.FirstPage"></MudIcon></MudButton>
                    <MudButton @onclick="PrevPage" Disabled="PageIndex <= 1"><MudIcon Icon="@Icons.Material.Filled.ChevronLeft"></MudIcon></MudButton>
                    <MudButton @onclick="NextPage" Disabled="PageIndex >= PageCount"><MudIcon Icon="@Icons.Material.Filled.ChevronRight"></MudIcon></MudButton>
                    <MudButton @onclick="LastPage" Disabled="PageIndex >= PageCount"><MudIcon Icon="@Icons.Material.Filled.LastPage"></MudIcon></MudButton>
                </div>
            </MudContainer>
        </div>
        <div class="series">
            <MudGrid>
                @foreach (var b in Series)
                {
                    <MudItem xs="12" sm="6" lg="4" xl="3">
                        <BookSeries Series="b"></BookSeries>
                    </MudItem>
                }
            </MudGrid>
        </div>
        <MudContainer MaxWidth="MaxWidth.Small">
            <div class="paging">
                @PageIndex of @PageCount
                <MudButton @onclick="FirstPage" Disabled="PageIndex <= 1"><MudIcon Icon="@Icons.Material.Filled.FirstPage"></MudIcon></MudButton>
                <MudButton @onclick="PrevPage" Disabled="PageIndex <= 1"><MudIcon Icon="@Icons.Material.Filled.ChevronLeft"></MudIcon></MudButton>
                <MudButton @onclick="NextPage" Disabled="PageIndex >= PageCount"><MudIcon Icon="@Icons.Material.Filled.ChevronRight"></MudIcon></MudButton>
                <MudButton @onclick="LastPage" Disabled="PageIndex >= PageCount"><MudIcon Icon="@Icons.Material.Filled.LastPage"></MudIcon></MudButton>
            </div>
        </MudContainer>
    </div>
}
