@page "/"
<div class="container">


    @if (Loading)
    {
        <div class="loading">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    }
    else
    {
        <div class="books">
            @if (UpdateNotification.Complete)
            {
                <div>
                    <MatButton @onclick="RefreshLibrary">
                        <MatIcon>refresh</MatIcon>Refresh
                    </MatButton>
                </div>
            }
            else
            {
                <div>
                    @if (UpdateNotification.Count == 0)
                    {
                        <MatProgressBar Indeterminate="true"></MatProgressBar>
                    }
                    else
                    {
                        <MatProgressBar Progress="UpdateNotification.Percent"></MatProgressBar>
                        <div class="count">@UpdateNotification.FilesComplete out of @UpdateNotification.Count</div>
                    }
                </div>
            }
            <div class="search">
                <MatAccordion>
                    <MatExpansionPanel>
                        <MatExpansionPanelSummary>
                            <MatExpansionPanelHeader> <i class="material-icons">search</i></MatExpansionPanelHeader>
                        </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>
                            <EditForm Model="@this" OnValidSubmit="Filter">
                                <div class="searchForm">
                                    <MatTextField @bind-Value="@Author" Label="Author" Icon="close" IconTrailing="true" IconOnClick="@(e=>ClearField("Author"))" FullWidth="true"></MatTextField>
                                    <MatTextField @bind-Value="@SeriesName" Label="Series" Icon="close" IconTrailing="true" IconOnClick="@(e=>ClearField("SeriesName"))" FullWidth="true"></MatTextField>
                                    <MatTextField @bind-Value="@Title" Label="Title" Icon="close" IconTrailing="true" IconOnClick="@(e=>ClearField("Title"))" FullWidth="true"></MatTextField>
                                    <MatButton Raised="true">Search</MatButton>
                                </div>
                            </EditForm>
                        </MatExpansionPanelDetails>
                    </MatExpansionPanel>
                </MatAccordion>
            </div>
            <div class="paging">
                <MatPaginator Length="TempSeries.Count()" PageSize="@PageSize" Page="@OnPage"></MatPaginator>
            </div>
            <div class="seriesList">
                @foreach (var bookSeries in FilteredSeries)
                {
                    <BookSeries Series="bookSeries"></BookSeries>
                }
            </div>
            <div class="paging">
                <MatPaginator Length="TempSeries.Count()" PageSize="@PageSize" Page="@OnPage"></MatPaginator>
            </div>
        </div>
    }

</div>