<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h5">@Series.Author</MudText>
            <MudText Typo="Typo.h6">@Series.Name</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            @if (Series.Books.Sum(b => b.Parts.Count) > 1)
            {
                <MudChip Color="Color.Primary">@Series.Books.Count</MudChip>
            }
        </CardHeaderActions>
    </MudCardHeader>
    @if (!View)
    {
        <MudCardMedia Image="@Series.Image" Height="393" />
        <MudCardActions>
            @if (Series.Books.Sum(b => b.Parts.Count) > 1)
            {
                <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="@(() => View = true)">View</MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Text" Color="Color.Primary" Link="@($"Download/{Series.Books.First().Parts.First().Id}")">Download</MudButton>
            }
        </MudCardActions>
    }
    else
    {
        <MudCardContent>
            <div class="books">
                @foreach (var book in Series.Books.OrderBy(b=>b.Disc))
                {
                    <div>
                        <div>
                            <img src="@book.Image"/>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6">
                                @if (book.Disc > 0)
                                {
                                    <Text>@book.Disc. </Text>
                                }
                                @book.Title
                            </MudText>
                            
                            <div>
                                @foreach (var part in book.Parts.OrderBy(p => p.Track))
                                {
                                    if (book.Parts.Count > 1)
                                    {
                                        <MudButton Variant="Variant.Text" Color="Color.Primary" Link="@($"Download/{part.Id}")">Part @part.Track</MudButton>
                                    }
                                    else
                                    {
                                        <MudButton Variant="Variant.Text" Color="Color.Primary" Link="@($"Download/{part.Id}")">Download</MudButton>

                                    }

                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="@(()=>View = false)">Close</MudButton>
        </MudCardActions>
    }
</MudCard>